*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Styling menu section */

.admin_dash{
    display: flex;
}
.menu-section{
    width: 15%;
    height: 100vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.main-section{
    width: 85%;
    height: 100vh;
    background-color: #f1f1f1;
}
.menu-bar{
    padding: 40px 30px;
}
.menu-bar .MENU{
    font-size: 20px;
    padding-bottom: 15px ;
    color: #343131;

}
.menu{
    display: flex;
    padding: 15px 15px 18px;

}
.menu i{
    font-size: 22px;
    color: #444343;

}
.menu a{
    display: flex;
    text-decoration: none;
}
.menu p{
    padding-left: 20px;
    font-size: 20px;
    color: #766767;
}
.finance p{
    padding-left: 32px;
/* position: relative; */
}
.finance .greater{
    font-size: 15px;
    /* position: absolute;
    font-size: 13px;
    position: absolute;
    left: 50%;
    top: 50%; */
}
.other{
    padding-top: 15px;
}
.menu:hover{
  background-color: #b1e6f4;
  border-radius: 10px;
  cursor: pointer;
}

/* Styling main section */

.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px;
}
.card{
    margin: 5px 14px 5px 10px;
    background-color: rgb(226, 232, 121);
    padding: 60px 90px 30px 20px;
    border-radius: 12px;
    text-align: left;
}
.purple{
    background-color: rgb(235, 173, 235);
    background-color: rgb(173, 211, 235);
}
.card h3{
    font-size: 32px;
}
.card p{
    font-size: 22px;
    margin-top: 10px;
    color: rgb(31, 31, 31);
}