<section class="menu-section">

    <div class="menu-bar">

        <p class="MENU">MENU</p>
        <!-- <i class="fa-solid fa-bars"></i> -->

        <div class="dashboard menu active">
            <a href="/adminDashboard.html">
                <i class="fa-solid fa-house"></i>
                <p>Dashboard</p>
            </a>
        </div>

        <div class="teachers menu">
            <a href="/teach-menu"> <i class="fa-solid fa-graduation-cap"></i>
                <p>Teachers</p>
            </a>
        </div>

        <div class="students menu">
            <a href="/stud-menu">
                <i class="fa-solid fa-users"></i>
                <p>Students</p>
            </a>
        </div>


        <div class="attendence menu">
            <a href="/atend-menu">
                <i class="fa-solid fa-users-line"></i>
                <p>Attendence</p>
            </a>
        </div>

        <div class="finance menu">
            <a href="/fina-menu">
                <i class="fa-solid fa-dollar-sign"></i>
                <p>Finance</p>
                <i class="fa-solid fa-greater-than greater"></i>
            </a>
        </div>

        <div class="calender menu">
            <a href="/calen-menu">
                <i class="fa-solid fa-calendar"></i>
                <p>Calender</p>
            </a>
        </div>

        <div class="library menu">
            <a href="/lib-menu"><i class="fa-solid fa-book-open"></i>
                <p>Library</p>
            </a>
        </div>


        <p class="MENU other">OTHER</p>

        <div class="profile menu">
            <a href="/profile-menu"> <i class="fa fa-circle-user"></i>
                <p>Profile</p>
            </a>
        </div>

        <div class="setting menu">
            <a href="/set-menu"><i class="fa-solid fa-gear"></i>
                <p>Setting</p>
            </a>
        </div>

        <div class="log-out menu">
            <a href="/log-menu">
                <i class="fa-solid fa-right-from-bracket"></i>
                <p>Log out</p>
            </a>
        </div>

    </div>
</section>
