<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <link rel="stylesheet" href="admin.css">

</head>

<body>

    <div class="login-form">

        <div class="form-title"><%= login %></div>

        <div class="form-input">
            <label for="username">Username</label>
            <input type="text" id="username" required>
        </div>

        <div class="form-input">

            <label for="password">Password</label>
            <input type="password" id="password" required>
        </div>

        <div class="captcha">

            <label for="captcha-input">Captcha</label>

            <div class="captcha-question"></div>

            <div class="captcha-form">
                <input type="text" class="captcha-answer" placeholder="Enter captcha text" required>
                <button class="refresh"><i class="fa fa-refresh"></i></button>
            </div>
        </div>

        <div class="form-btn">
            <button class="login-btn">Login</button>
        </div>

    </div>


    <script src="admin.js"></script>
</body>

</html>
